.header__lang-link {
    font-size: 24px;
    max-width: 30px;
    max-height: 28px;
    color: white;
    position: absolute;
    top: 46px;
    right: 95px;
    text-decoration: none;
}

.header__lang-link:last-child {
    right: 48px;
    margin-right: 0;
}

.header__lang-link:hover {
    text-decoration: underline;
}

@media screen and (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        top: 30px;
        right: 16px;
    }
}