.cover__container{
    max-width: 100%;
    position: relative;
    z-index: 0;
}

@media screen and (max-width: 1024px) {
    .cover__container {
        margin-left: 0;
        margin-right: 0;
    }
}