.lead__image {
    /* max-height: 615px; */
    margin-top: 64px;
    margin-left: 148px;
    margin-right: 148px;
}

@media screen and (max-width: 1024px) {
    .lead__image {
        margin-left: 48px;
        margin-right: 48px;
    }
}

@media screen and (max-width: 768px) {
    .lead__image {
        margin-left: 24px;
    }
}

@media screen and (max-width: 320px) {
    .lead__image {
        margin-top: 40px;
        margin-left: 0;
        margin-right: 0;
    }
}