.cover__content {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding-top: 264px;
}

@media screen and (max-width: 768px) {
    .cover__content {
        padding-top: 109px;
    }
}

@media screen and (max-width: 320px) {
    .cover__content {
        padding-top: 43px;
    }
}